{
  :main

  [
    {
      :des "caps_lock to backspace when pressed alone, to ctrl as modifier"
      :rules [[:##caps_lock :left_control nil {:alone :escape}]]
    }
    ; {
    ;   :des "TARMAK 1a: j to n, k to e, n to k, e to j"
    ;   :rules [[:j :n] [:k :e] [:n :k] [:e :j] [:!Sj :!Sn] [:!Sk :!Se] [:!Sn :!Sk] [:!Se :!Sj] [:!Rj :!Rn] [:!Rk :!Re] [:!Rn :!Rk] [:!Re :!Rj]]
    ; }
    ; {
    ;   :des "TARMAK 1b: m to h, h to m"
    ;   :rules [[:m :h] [:h :m] [:!Sm :!Sh] [:!Sh :!Sm] [:!Rm :!Rh] [:!Rh :!Rm]]
    ; }
    {
      :des "simultaneous press of f and j (qwerty) to esc"
      :rules [[[:f :j] :escape]]
    }
  ]
}
